---
title: About
permalink: "/about/"
layout: default
custom-css: about

---
<div class="wrapper">
    <h1 class="about-title">About</h1>
    <section id="missonSection">

        <h1>Our Mission</h1>
        <h2>- Connect, Collaborate, Create -</h2>
        <p> SCEE aims to build a diverse community of student innovators and creative problem solvers. We encourage
            students, through our engaging events and workshops, to have unique insights on social and technical
            problems
            our society is facing today. We believe that innovation is the only way forward.</p>
    </section>
</div>
<div class="wide-wrapper">
    <section id="teamSection">
        <h1>Our Team</h1>
        <div class="glide-cards">
            <div data-glide-el="controls" id="carousel_controls">
                <button data-glide-dir="<" class="btn-background btn-left">❮</button>
                <button data-glide-dir=">" class="btn-background btn-right">❯</button>
            </div>
            <div class="glide__track" data-glide-el="track">
                <ul id="memberColumn" class="glide__slides post-list memberList">
                    {% for member in site.data.members %}
                    {% if member.activeMember == false %}
                    <li class="teamMember glide__slide">
                        <div class="memberCardTop clearfix">
                            <img class="memberImage"
                                src="{{ member.imagePath | default: '/assets/images/member-photos/' | append: member.fullName | append: '.jpg' |  relative_url }}"
                                onerror="this.src='{{'/assets/images/defaultProfilePhoto.jpg' |  relative_url }}'">
                            <h3 class="memberName">{{member.fullName}}</h3>
                            <h3 class="memberPosition">{{member.position}}</h3>
                        </div>
                        <p class="memberDescription">{{member.description}}</p>
                    </li>
                    {%- endif -%}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- <ul id="memberColumn" class="memberList">
            {% for member in site.data.members %}
            {% if member.activeMember == true %}
            <li class="teamMember">
                <div class="memberCardTop clearfix">
                    <img class="memberImage"
                        src="{{ member.imagePath | default: '/assets/images/member-photos/' | append: member.fullName | append: '.jpg' |  relative_url }}"
                        onerror='this.src="{{"/assets/images/defaultProfilePhoto.jpg" |  relative_url }}"'>
                    <h3 class="memberName">{{member.fullName}}</h3>
                    <h3 class="memberPosition">{{member.position}}</h3>
                </div>
                <p class="memberDescription">{{member.description}}</p>
            </li>
            {%- endif -%}
            {% endfor %}
            <h1>Past Members</h1>
            <ul id="memberColumn" class="memberList">
                {% for member in site.data.members %}
                {% if member.activeMember == false %}
                <li class="teamMember">
                    <div class="memberCardTop clearfix">
                        <img class="memberImage"
                            src="{{ member.imagePath | default: '/assets/images/member-photos/' | append: member.fullName | append: '.jpg' |  relative_url }}"
                            onerror='this.src="{{"/assets/images/defaultProfilePhoto.jpg" |  relative_url }}"'>
                        <h3 class="memberName">{{member.fullName}}</h3>
                        <h3 class="memberPosition">{{member.position}}</h3>
                    </div>
                    <p class="memberDescription">{{member.description}}</p>
                </li>
                {%- endif -%}
                {% endfor %}
            </ul> -->
    </section>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css" />
<style>
    .glide__slide {
        transform: translateX(-30px);
    }

    .glide__slide img {
        height: 40vw;
        width: 100%;
    }

    #carousel_controls button {
        font-size: 10ex;
        height: 100%;
        position: absolute;
        margin-top: 10px;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        z-index: 5;
        opacity: 0.5;
    }

    #carousel_controls button:hover {
        opacity: 1;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/glide.js"></script>
<script src="{{ '/assets/js/carousel.js' | relative_url }}"></script>