---
title: About
permalink: "/about/"
layout: default
custom-css: about

---
<div class="wrapper">
    <h1 class="about-title">About</h1>
    <section id="missonSection">

        <h1>Our Mission</h1>
        <h2>- Connect, Collaborate, Create -</h2>
        <p> SCEE aims to build a diverse community of student innovators and creative problem solvers. We encourage
            students, through our engaging events and workshops, to have unique insights on social and technical
            problems
            our society is facing today. We believe that innovation is the only way forward.</p>
    </section>
</div>
<div class="wide-wrapper">
    <section id="teamSection">
        <h1>Our Team</h1>
        <div class="glide-cards">
            <div data-glide-el="controls" id="carousel_controls">
                <button data-glide-dir="<" class="btn-background btn-left" style="max-height: 300px;">❮</button>
                <button data-glide-dir=">" class="btn-background btn-right" style="max-height: 300px;">❯</button>
            </div>
            <div class="glide__track" data-glide-el="track">
                <ul id="memberColumn" class="glide__slides post-list memberList">
                    {% for member in site.data.members %}
                    {% if member.activeMember == true %}
                    <li class="teamMember glide__slide">
                        <div class="memberCardTop clearfix">
                            <img class="memberImage"
                                src="{{ member.imagePath | default: '/assets/images/member-photos/' | append: member.fullName | append: '.jpg' |  relative_url }}"
                                onerror="this.src='{{'/assets/images/defaultProfilePhoto.jpg' |  relative_url }}'">
                            <h3 class="memberName">{{member.fullName}}</h3>
                            <h3 class="memberPosition">{{member.position}}</h3>
                        </div>
                        <p class="memberDescription">{{member.description}}</p>
                        {%- if member.description.size > 0 -%}
                        <span class="more-expand-arrow">⌄</span>
                        {%- endif -%}
                    </li>
                    {%- endif -%}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <h1 style="margin-top: 200px;">Past Members</h1>
        <div class="glide-cards">
            <div data-glide-el="controls" id="carousel_controls">
                <button data-glide-dir="<" class="btn-background btn-left" style="max-height: 300px;">❮</button>
                <button data-glide-dir=">" class="btn-background btn-right" style="max-height: 300px;">❯</button>
            </div>
            <div class="glide__track" data-glide-el="track">
                <ul id="memberColumn" class="glide__slides post-list memberList">
                    {% for member in site.data.members %}
                    {% if member.activeMember == false %}
                    <li class="teamMember glide__slide">
                        <div class="memberCardTop clearfix">
                            <img class="memberImage"
                                src="{{ member.imagePath | default: '/assets/images/member-photos/' | append: member.fullName | append: '.jpg' |  relative_url }}"
                                onerror="this.src='{{'/assets/images/defaultProfilePhoto.jpg' |  relative_url }}'">
                            <h3 class="memberName">{{member.fullName}}</h3>
                            <h3 class="memberPosition">{{member.position}}</h3>
                        </div>
                        <p class="memberDescription">{{member.description}}</p>
                        {%- if member.description -%}
                        <span class="more-expand-arrow">⌄</span>
                        {%- endif -%}
                    </li>
                    {%- endif -%}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- <ul id="memberColumn" class="memberList">
            {% for member in site.data.members %}
            {% if member.activeMember == true %}
            <li class="teamMember">
                <div class="memberCardTop clearfix">
                    <img class="memberImage"
                        src="{{ member.imagePath | default: '/assets/images/member-photos/' | append: member.fullName | append: '.jpg' |  relative_url }}"
                        onerror='this.src="{{"/assets/images/defaultProfilePhoto.jpg" |  relative_url }}"'>
                    <h3 class="memberName">{{member.fullName}}</h3>
                    <h3 class="memberPosition">{{member.position}}</h3>
                </div>
                <p class="memberDescription">{{member.description}}</p>
            </li>
            {%- endif -%}
            {% endfor %}
            <h1>Past Members</h1>
            <ul id="memberColumn" class="memberList">
                {% for member in site.data.members %}
                {% if member.activeMember == false %}
                <li class="teamMember">
                    <div class="memberCardTop clearfix">
                        <img class="memberImage"
                            src="{{ member.imagePath | default: '/assets/images/member-photos/' | append: member.fullName | append: '.jpg' |  relative_url }}"
                            onerror='this.src="{{"/assets/images/defaultProfilePhoto.jpg" |  relative_url }}"'>
                        <h3 class="memberName">{{member.fullName}}</h3>
                        <h3 class="memberPosition">{{member.position}}</h3>
                    </div>
                    <p class="memberDescription">{{member.description}}</p>
                </li>
                {%- endif -%}
                {% endfor %}
            </ul> -->
    </section>
</div>

<link rel="stylesheet" href="{{ '/assets/js/glide-3.4.1/css/glide.core.min.css' | relative_url }}" />
<script src="{{ '/assets/js/glide-3.4.1/glide.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/carousel.js' | relative_url }}"></script>