<div class="glide-home">
  <div data-glide-el="controls" id="carousel_controls">
      <button data-glide-dir="<" class="btn-left">❮</button>
      <button data-glide-dir=">" class="btn-right">❯</button>
  </div>
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {% for image in site.static_files %}
        {% if image.path contains 'images/carousel-images' %}
          <li class="glide__slide">
            <img src="{{ image.path | relative_url }}" alt="{{ image.path }}" />
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
<link
  rel="stylesheet"
  href="{{ '/assets/js/glide-3.4.1/css/glide.core.min.css' | relative_url }}"
/>
