<section class="events-section">

  {% assign today_date = 'now' | date: '%s' %}
  {% assign all_events = site.posts | where_exp:"post","post.show-in-events" %}
  {% assign upcoming_events = all_events | where_exp:"post","post.event-date >= site.time" %}
  {% assign past_events = all_events | where_exp:"post","post.event-date < site.time" %}

  {%- if upcoming_events.size > 0 -%}
  <h2 class="post-list-heading">Upcoming Events</h2>

  <div class="glide-cards">
    <div data-glide-el="controls" id="carousel_controls">
      <button data-glide-dir="<" class="btn-background btn-left">❮</button>
      <button data-glide-dir=">" class="btn-background btn-right">❯</button>
    </div>
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides post-list">
        {%- for post in upcoming_events -%}

        <li class="glide__slide">
          {% include event_card.html post=post  %}
        </li>

        {%- endfor -%}
      </ul>
    </div>
  </div>
  {%- endif -%}
  {%- if past_events.size > 0 -%}
  <h2 class="post-list-heading">Past Events</h2>
  <div class="glide-cards">
    <div data-glide-el="controls" id="carousel_controls">
      <button data-glide-dir="<" class="btn-background btn-left">❮</button>
      <button data-glide-dir=">" class="btn-background btn-right">❯</button>
    </div>
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides post-list">

        {%- for post in past_events -%}
        <li class="glide__slide">
          {% include event_card.html post=post  %}
        </li>
        {%- endfor -%}

      </ul>
    </div>
  </div>
  {%- endif -%}
</section>

<p class="feed-subscribe">
  <a href="{{ 'feed.xml' | relative_url }}">
    <svg class="svg-icon orange">
      <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
    </svg><span>RSS Subscribe</span>
  </a>
</p>