<section class="events-section">
{%- if site.posts.size > 0 -%}
<h2 class="post-list-heading">Events</h2>
<ul class="post-list">
  {%- for post in site.posts -%}
    {%- if post.show-in-news -%}
      <li>
        <a href="{{ post.url | relative_url }}">
          <h3 class="post-link">
              {{ post.title | escape }}
          </h3>
          {%- if post.featured-image -%}
            <img src="{{ post.featured-image | relative_url }}" class="featured-image"/>
          {%- endif -%}
        </a>
        <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
</section>

<p class="feed-subscribe">
  <a href="{{ 'feed.xml' | relative_url }}">
    <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
  </a>
</p>
{%- endif -%}