<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
      {{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}
  </title>
  {%- seo -%}
  <link rel="shortcut icon" href="{{ '/favicon.ico | relative_url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Laila|Montserrat:400,600,700,800" rel="stylesheet">
  {% if page.custom-css %}
    {% for stylesheet in page.custom-css %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
    {% endfor %}
  {% endif %}

  {%- feed_meta -%}
</head>
