<div class="social-links">
  <h2>Follow us on Social Media</h2>
  <div class="social-media-list">
      <a href="https://www.instagram.com/{{ site.instagram_username | cgi_escape | escape }}">
        <img src="{{ /assets/images/social/instagram.png | relative_url }}">
      </a>
      <a href="https://www.facebook.com/{{ site.facebook_username | cgi_escape | escape }}">
        <img src="{{ /assets/images/social/facebook.png | relative_url }}"></a>
      <a href="https://www.linkedin.com/company/{{ site.linkedin_username | cgi_escape | escape }}"><img src=
        "{{ /assets/images/social/linkedin.png | relative_url }}"></a>
  </div>
</div>
