<div class="subscribe-view">
    <h3>SUBSCRIBE</h3>
    <h4>Sign up with your email address to recieve news and updates from us.</h4>
    <form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLScYahQAKujeiffaIdf2t-kRKs5IFeCKbTIDE4UQcbcbOT4W8Q/formResponse"
    method="POST" id="m_101868145973899987ss-form" target="catchFormRedirect" onsubmit="document.getElementById('subscribedMessage').style.display = 'block'">
        <input type="text" class="subscribe-field" placeholder="First Name" name="entry.122129009" value="" id="m_101868145973899987entry_122129009" dir="auto" aria-label="First Name">
        <input type="text" class="subscribe-field" placeholder="Last Name" name="entry.1035222065" value="" id="m_101868145973899987entry_1035222065"
        dir="auto" aria-label="Last Name">
        <input type="email" class="subscribe-field" placeholder="Email" name="entry.241185845" value="" id="m_101868145973899987entry_241185845"
        dir="auto" aria-label="Email  " title="">
        <input type="submit" name="submit" value="SIGN UP" id="subscribeButton">
    </form>
    <h5>We promise we won't spam you.</h5>
    <h2 id="subscribedMessage">Thank you! You will hear from us soon!</h2>
    <iframe name="catchFormRedirect" style="position:absolute; bottom:-1px; left:-1px; width:1px; height:1px;"></iframe>
</div>
