<div class="subscribe-view">
    <h3>SUBSCRIBE</h3>
    <h4>Sign up with your email address to recieve news and updates from us.</h4>
    <form>
        <input type="text" name="firstName" class="subscribe-field" placeholder="First Name" id="firstNameField">
        <input type="text" name="lastName" class="subscribe-field" placeholder="Last Name" id="lastNameField">
        <input type="email" name="email" class="subscribe-field" placeholder="Email" id="emailField">
        <button id="subscribeButton" type="submit">SIGN UP</button>
    </form>
    <h5>We promise we won't spam you.</h5>
    <!-- <h2 id="subscribedMessage">Thank you! You will hear from us soon!</h2> -->
</div>