.memberList {
    padding: 0;
    width: 50%;
    float: left;
}

.teamMember {
    display: block;
    /*background-color: orange;*/
    margin: 24px 12px 12px 12px;
    box-sizing: border-box;
    color: black;
    text-align: left;
    letter-spacing: 2px;
    /* font-weight: 500; */
    font-family: 'Montserrat', sans-serif;
}

.memberImage {
    position: relative;
    margin-left: 12px;
    width: 170px;
    height: 170px;
    float: left;
    border-radius: 500px;
    margin-bottom: 12px;
}

.memberCardTop {
    margin-bottom: 12px;
    text-align: center;
}

.memberName {
    padding: 65px 0 16px;
    color: rgb(94, 94, 94);
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }

  .memberPosition {
    color: gray;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 0.95em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }

  .memberDescription {
    text-indent: 40px;
  }