.glide-home {
  position: relative;
  .glide__slide {
    transform: translateX(-30px);
  }
  .glide__slide img {
    height: 40vw;
    width: 100%;
  }
}

.glide-cards {
  position: relative;
}

#carousel_controls {
  button {
    pointer-events: all;
    font-size: 10ex;
    height: 100%;
    position: absolute;
    padding: 26px;
    margin: 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 5;
    color: rgba(0, 0, 0, 0.7);
    &.btn-right {
      left: unset;
      right: 0;
    }
  }
  button:hover {
    color: rgba(0, 0, 0, 1);
  }
  button.btn-background.btn-left:after {
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    content: " ";
    display: block;
    position: absolute;
    width: 130px;
    background-image: linear-gradient(to right, #fff, transparent);
    pointer-events: none;
  }
  button.btn-background.btn-right:after {
    right: 0;
    z-index: -1;
    top: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    width: 130px;
    background-image: linear-gradient(to left, #fff, transparent);
    pointer-events: none;
  }
}

@media (max-width: 600px) {
  #carousel_controls {
    button.btn-background.btn-right:after {
      width: 40px;
    }
    button.btn-background.btn-left:after {
      width: 40px;
    }
    button {
      padding: 16px;
      font-size: 5ex;
    }
  }
}
