---
---

@import "carousel"; // import the carousel.scss file in the _sass_imports folder

.about-title {
  margin: 0px auto;
  text-align: center;
  padding: 0px;
  padding-top: 10px;
  font-weight: 700;
  width: 100%;
  line-height: 80px;
  font-size: 45px;
}

#missonSection {
  h1 {
    margin: 0px auto;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    font-weight: 600;
    width: 100%;
    line-height: 80px;
    font-size: 36px;
  }
  h2 {
    text-align: center;
  }
}

#teamSection {
  h1 {
    margin: 0px auto;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    font-weight: 600;
    width: 100%;
    line-height: 80px;
    font-size: 36px;
  }
  .memberList {
    padding: 0;
    margin: 0;
    // max-width: 800px;

    // display: flex;

    // flex-wrap: wrap;
    // justify-content: center;
  }

  .teamMember {
    // display: block;
    // margin: 24px 12px 12px 12px;
    // box-sizing: border-box;
    color: black;
    // text-align: left;
    // letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    // max-width: 346px;
    overflow: hidden;
    // flex: 1 0 auto;
  }

  .memberImage {
    position: relative;
    width: 170px;
    height: 170px;
    // float: left;
    border-radius: 500px;
    margin: 12px;
  }

  .memberCardTop {
    margin-bottom: 12px;
    text-align: center;
  }

  .memberName {
    padding: 12px 0 8px;
    color: rgb(94, 94, 94);
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }

  .memberPosition {
    color: gray;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 0.95em;
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }

  .memberDescription {
    // text-indent: 40px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  .teamMember:hover {
    .memberDescription {
      max-height: 2000px;
    }

    .more-expand-arrow {
      visibility: hidden;
    }
  }

  .more-expand-arrow {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 2em;
    font-weight: bold;
  }
}
